<div class="body">      
  <div role="main" class="main">
    <div class="container py-4">
      <div class="team-list text-center">
        <h2 class="text-color-dark font-weight-normal text-7 mb-2 pt-2 mb-4 pt-0 mt-2">National <strong class="font-weight-extra-bold"> Assembly</strong></h2>
        
          <div class="col-sm-12 d-flex flex-wrap row team-list sort-destination justify-content-center">

            <% @national_assemblies.each do |na| %>
              <div class="col-12 col-sm-6 col-lg-3 isotope-item leadership">
                <span class="thumb-info thumb-info-hide-wrapper-bg mb-4">
                  <span class="thumb-info-wrapper">
                    
                    <img src="/assets/team/dummy-image.jpg" class="img-fluid" alt="">
                    <span class="thumb-info-title" title="<%= na.candidate_jis&.first&.name %>">
                      <span class="thumb-info-inner"><%= na.candidate_jis&.first&.name&.present? ? na.candidate_jis&.first&.name.truncate(20) : 'No candidate' %></span>
                      <span class="thumb-info-type"><%= na.title %></span>
                    </span>
                  </span>
                  <span class="thumb-info-caption d-none">
                    <span class="thumb-info-caption-text d-none">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ac ligula mi, non suscipitaccumsan.</span>
                    <span class="thumb-info-social-icons mb-4 mt-3">
                      <a target="_blank" href="http://www.facebook.com"><i class="fab fa-facebook-f"></i><span>Facebook</span></a>
                      <a href="http://www.linkedin.com"><i class="fab fa-linkedin-in"></i><span>Linkedin</span></a>
                      <a href="http://www.twitter.com"><i class="fab fa-twitter"></i><span>Twitter</span></a>
                    </span>
                  </span>
                </span>
              </div>         
            <% end %>
          </div>
      </div>
      <div class="team-list text-center">
        <h2 class="text-color-dark font-weight-normal text-7 mb-0 pt-2 mb-4 pt-0 mt-2">Provisional <strong class="font-weight-extra-bold">Assembly</strong></h2>
          <div class="col-sm-12 d-flex flex-wrap row team-list sort-destination justify-content-center">
            <% @provincial_assemblies.each do |pp| %>
              <div class="col-12 col-sm-6 col-lg-3 isotope-item leadership">
                <span class="thumb-info thumb-info-hide-wrapper-bg mb-4">
                  <span class="thumb-info-wrapper">
                    
                    <img src="/assets/team/dummy-image.jpg" class="img-fluid" alt="">
                    <span class="thumb-info-title" title="<%= pp.candidate_jis&.first&.name %>">
                      <span class="thumb-info-inner"><%= pp.candidate_jis&.first&.name&.present? ? pp.candidate_jis&.first&.name.truncate(20) : 'No candidate' %></span>
                      <span class="thumb-info-type"><%= pp.title %></span>
                    </span>
                  </span>
                  <span class="thumb-info-caption d-none">
                    <span class="thumb-info-caption-text d-none">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ac ligula mi, non suscipitaccumsan.</span>
                    <span class="thumb-info-social-icons mb-4 mt-3">
                      <a target="_blank" href="http://www.facebook.com"><i class="fab fa-facebook-f"></i><span>Facebook</span></a>
                      <a href="http://www.linkedin.com"><i class="fab fa-linkedin-in"></i><span>Linkedin</span></a>
                      <a href="http://www.twitter.com"><i class="fab fa-twitter"></i><span>Twitter</span></a>
                    </span>
                  </span>
                </span>
              </div>         
            <% end %>
          </div>
        </div>

      </div>
    </div>
  </div>
</div> 