<!DOCTYPE html>
<html>
  <head>
    <title>JI Youth Pakistan </title>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <%= favicon_link_tag 'favicon.ico' %>

    <%= csrf_meta_tags %> <%= csp_meta_tag %>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, minimum-scale=1.0, shrink-to-fit=no"
    />
    <link
      id="googleFonts"
      href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800%7CShadows+Into+Light&display=swap"
      rel="stylesheet"
      type="text/css"
    />

    <%= stylesheet_link_tag 'application', media: 'all',
    'data-turbolinks-track': 'reload' %> 
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script type='text/javascript' src="https://rawgit.com/RobinHerbots/jquery.inputmask/3.x/dist/jquery.inputmask.bundle.js"></script>

  </head>

  <body data-plugin-page-transition>
    <%= render "layouts/shared/header" -%>
      <% flash.each do |type, msg| %>
        <div class="alert alert-<%= type %>">
          <%= msg %>
        </div>
      <% end %>
      <%= yield %>
    <%= render"layouts/shared/footer" -%>
  </body>
</html>
